<a href="https://colab.research.google.com/github/moyses-olivieri/-Sistema-de-Recomenda-o-usando-Word2Vec/blob/main/DataViz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nome = "Moyses"

In [ ]:
!gdown

In [ ]:
nome

'Moyses'

In [ ]:
print(nome)

Moyses

In [ ]:
idade = 30

In [ ]:
idade

30

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv('tags.csv')

In [ ]:
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [ ]:
tags.shape

(3683, 4)

In [ ]:
tags.columns = ["userId", "movieId", "tag", "timestamp"]